################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/accountapi/v15/Server/sqlite3
/accountapi/bin/Debug/netcoreapp2.1
/accountapi/obj
/accountapi_test/bin/Debug/netcoreapp2.1
/accountapi_test/obj
/.vs/accountapi
